NODE_ENV=development

# Application related config
PORT=9000

# DB related config
DB_TYPE=oracle
DB_HOST=localhost
DB_PORT=1521
DB_USERNAME=system
DB_PASSWORD=oracle
DB_DATABASE=orcl
DB_LOGGING=true

# Use DB_SYNCHRONIZE option on local development only
# DB_SYNCHRONIZE=true

# Use this option when you want to run migrations on each run (On Dev/QA Instance)
DB_MIGRATIONS_RUN=true